
header{
    background: papayawhip;
    height: 100%;
    width: 100%;
}
div{ 
    background: cadetblue;
    background-size: 500px 700px;
    height: 1500px;
    width: 100%;
}

#arches{
    max-height: 500px;
    max-width: 400px;
    width: 245px;
    height: 190px;
}
#mandy{
    max-height: 500px;
    max-width: 400px;
    width: 245px;
    height: 190px;
}
#wood{
    max-height: 500px;
    max-width: 400px;
    width: 245px;
    height: 190px;
}
#puppy{
    max-height: 500px;
    max-width: 400px;
    width: 245px;
    height: 190px;
}
#bike{
    max-height: 500px;
    max-width: 400px;
    width: 245px;
    height: 190px;
}
#mandy2{
    max-height: 500px;
    max-width: 400px;
    width: 258px;
    height: 190px
}

#Hobbies{
    float: right;
    margin: 10px;
}

#scuba{
    max-height: 300px;
    max-width: 500px;
    width: 300px;
    height: 500px; 
}
h1{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

nav a {
    padding-left: 30px;
    padding-right: 30px;
    background-color: silver;
}
head,
header, 
figure {
    text-align: center;
}