
div { 
    background: aqua;
    background-size: 500px 700px;
    opacity: .8;
    height: 700px;
    width: 900px;
}

/* div {
    width: 700px;
    height: 500px;
    background: aqua;
    opacity: .8;
} */

h1{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}